<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="5" >
    <test verbose="2" preserve-order="true" name="testOne">
        <classes>
            <class name="runner.RunnerClass"/>
        </classes>
    </test>
</suite>